html {
 /* background-image: url(../images/paradise-fun.jpeg);
 background-size: 100%;
 background-repeat: no-repeat; */
}

a {
  color: white;
}

a:hover {
  color: white;
  background-color: black;
}

img {
  padding-top: 40px;
}

body {
  height: 100vh;
  /* background-image: url("../images/kingdom-hall-stage.jpeg"); */
  background-repeat: no-repeat;
  background-color: gray;
  background-size: cover;
  background-position: center; 
}

#water-video {
  position: fixed;
  right: -50;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.responsive {
  width: 100%;
  max-width: 1300px;
  height: auto;
}

.message {
  font-size: 1.3rem;
  max-width: 1275px;
  margin: 0 auto;
  margin-top: 20px;
  border: 2px solid black;
  padding: 8px;
  background-color: rgb(3, 55, 133);
  color: white;
}

.container-fluid {
  max-width: 1275px;
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  .message {
    font-size: .8rem;
  }
}
