html {
  /* width: 1450px; */
  margin-left: auto;
  margin-right: auto;
}

/* #navbarNavAltMarkup {
  display: flex;
  justify-content: space-between;
} */

a {
  color: white;
}

a:hover {
  color: white;
  background-color: black;
}

img {
  padding-top: 40px;
}

span {
  color: white;
}

.green {
  color: greenyello;
}

body {
  background-color: rgb(143, 96, 53);
  background-image: url(../images/outside_2.jpg);
  background-repeat: no-repeat;
  background-size: 100vh;
  background-size: 100vw;
  /* background-position: center; */
}

.responsive {
  max-width: 1300px;
  height: auto;
}

.message {
  font-size: 1.3rem;
  max-width: 1275px;
  margin: 0 auto;
  border: 5px solid rgb(105, 60, 23);
  padding: 8px;
  background-color: rgb(248, 204, 108);
  color: rgb(54, 53, 53);
}

.accts {
    color: greenyellow;
}

@media only screen and (max-width: 750px) {
  .message {
    font-size: .9rem;
  }
  
  body {
    background-image: url(../images/outside_7.jpeg);
    background-size: 100vh;
    background-position: top;
  }
}

.imp-mes {
  background-color: rgb(72, 83, 94);
  opacity: 90%;
  max-width: 400px;
  width: 90%;
  margin: 0 auto;
  padding: 8px;
  border: 5px solid rgb(133, 11, 11);
  border-radius: 0 0 25px 25px;
}

.ann {
  color: greenyellow;
  text-decoration: underline;
}

/* .countdown {
  position: absolute;
  top: 0;
  left: 0;
} */


@media only screen and (min-width: 750px) {
  body {
    background-image: url(../images/Kingdom_Hall_Auditorium-2.jpeg);
    background-position: top;
  }
}

@media only screen and (min-width: 1300px) {
  body {
    background-image: url(../images/kingdom_hall_auditorium-7.jpg);
    background-size: 100vh;
    background-size: 100vw;
    background-position: top;
  }
}
 
