html {
  /* width: 1450px; */
  margin-left: auto;
  margin-right: auto;
}

/* #navbarNavAltMarkup {
  display: flex;
  justify-content: space-between;
} */

a {
  color: white;
}

a:hover {
  color: white;
  background-color: black;
}

img {
  padding-top: 40px;
}

span {
  color: red;
}

/* .green {
  color: gray;
} */

body {
  background-color: rgb(143, 96, 53);
  background-image: url(../images/outside_2.jpg);
  background-repeat: no-repeat;
  background-size: 100vh;
  background-size: 100vw;
  /* background-position: center; */
}

.responsive {
  max-width: 1300px;
  height: auto;
}

.message {
  font-size: 1.3rem;
  max-width: 1275px;
  margin: 0 auto;
  border: 5px solid rgb(105, 60, 23);
  padding: 8px;
  background-color: rgb(248, 204, 108);
  color: rgb(54, 53, 53);
}

@media only screen and (max-width: 750px) {
  .message {
    font-size: .9rem;
  }
  
  body {
    background-image: url(../images/outside_7.jpeg);
    background-size: 100vh;
    background-position: top;
  }
}



@media only screen and (min-width: 750px) {
  body {
    background-image: url(../images/Kingdom_Hall_Auditorium-2.jpeg);
    background-position: top;
  }
}

@media only screen and (min-width: 1300px) {
  body {
    background-image: url(../images/kingdom_hall_auditorium-7.jpg);
    background-size: 100vh;
    background-size: 100vw;
    background-position: top;
  }
}
 
